@values color-white, shadow-grey, color-brown, color-grey, line-grey from '../../../common/colors.css';
@values font-mTiny, font-mMedium, radius-small from '../../../common/size.css';

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .productTable,
  .productTable td,
  .productTable th {
    border: 1px solid #f00;
    box-sizing: border-box;
  }
  .productTable .hide {
    display: block;
  }
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .productTable,
  .productTable td,
  .productTable th {
    /* border: 1px solid #f00; */
    box-sizing: border-box;
  }

  .productTable {
    width: 100%;
    border-collapse: collapse;
  }

  .productTable thead {
    color: color-grey;
    font-size: font-mTiny;
  }

  .productTable tbody {
    text-align: center;
    font-size: font-mMedium;
    border-bottom: 1px solid line-grey;
  }

  .productTable tbody .deletBtn button {
    background-color: transparent;
    border: none;
  }

  .productTable tbody .name {
    padding-left: 5px;
    text-align: left;
  }

  .productTable tbody tr {
    height: 50px;
  }

  .productTable .hide {
    display: none;
  }

  .productContainer .btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }

  .productContainer .btns .nextBtn,
  .productContainer .btns .prevBtn {
    width: 50px;
    height: 30px;
    margin-left: 5px;
    background-color: color-light-grey;
    border-radius: radius-small;
    border: 1px solid line-grey;
  }

  /* 제품 등록 Form */
  /* .addProductForm {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    background-color: color-white;
    box-shadow: 0px 1px 3px shadow-grey;
    border-radius: radius-small;
    box-sizing: border-box;
  } */

  .addProductForm > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .addProductForm > div > label {
    flex-basis: 20%;
    font-size: font-mMedium;
  }

  .addProductForm > div > input {
    flex-basis: 80%;
    height: 40px;
    border: none;
    border-bottom: 1px solid line-grey;
    box-sizing: border-box;
  }

  .addProductForm > div.selectMainImg {
    flex-direction: column;
    align-items: flex-start;
  }

  .addProductForm p {
    font-size: font-mMedium;
  }

  .selectImgLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    min-height: 50px;
    margin-top: 10px;
    border: 1px solid line-grey;
  }
  .selectImg {
    display: none;
  }

  /* 색상 선택 */
  .addProductForm > div.colorSelect {
    flex-direction: column;
    align-items: flex-start;
  }

  .addProductForm > div.colorSelect input {
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
  }

  .colorSelect > div {
    width: 100%;
    margin-bottom: 10px;
  }

  .color {
    width: 100%;
    position: relative;
  }

  .colorMoreBtn,
  .colorDeleteBtn {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: color-grey;
    font-size: 18px;
  }

  .colorMoreBtn,
  .colorDeleteBtn {
  }
}
