@value font-mLarge from '../../common/size.css';
@value color-black from '../../common/colors.css';

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .header {
    display: flex;
    align-items: center;
    height: 46px;
    margin-top: 24px;
    position: relative;
  }

  .icon {
    width: 15px;
    height: 15px;
    color: color-black;
  }

  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: font-mLarge;
  }
}
