@value font-mExtraLarge from '../../common/size.css';
@value color-white, shadow-grey from '../../common/colors.css';

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 46px;
    /* margin-top: 24px; */
    margin-left: calc(-50vw + 50%);
    padding: 0 20px;
    box-sizing: border-box;
    background-color: color-white;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 3px shadow-grey;
  }

  .title {
    font-size: font-mExtraLarge;
    margin: 0;
    text-align: center;
  }

  .header button {
    font-size: font-mExtraLarge;
    background-color: transparent;
    border: none;
  }
}
