@value color-white, color-darkBlack from '../../common/colors.css';

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .header {
    display: flex;
    align-items: center;
    height: 46px;
    /* margin-top: 24px; */
    background-color: color-darkBlack;
    color: color-white;
    position: relative;
  }

  .title {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .title img {
    width: 115px;
    filter: brightness(5);
  }

  .headerIcon {
    display: flex;
    margin-left: auto;
    margin-right: 15px;
  }

  .logoutBtn {
    background-color: transparent;
    border: none;
    color: color-white;
    font-size: 16px;
    margin-right: 5px;
  }

  .myPageIcon {
    cursor: pointer;
  }
}
