@value font-btn, font-mSmall, font-mRegular, font-mMedium, font-mLarge, font-mExtraLarge, font-btn from '../../common/size.css';
@value color-darkBlack, color-white, color-ivory, color-light-brown, color-brown, gradient-brown, color-gold, color-grey, color-black, line-grey from '../../common/colors.css';

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .imgBox {
    padding: 20px;
  }

  .imgBox img {
    width: 100%;
  }
  .itemName {
    margin: 0 20px 10px 20px;
    font-size: font-mExtraLarge;
  }

  .itemInfo {
    margin: 0 20px;
    padding-bottom: 20px;
    text-align: right;
  }

  .itemInfo p {
    font-size: font-mExtraLarge;
    font-weight: 700;
  }

  .itemInfo p:nth-child(1) {
    margin-bottom: 5px;
  }

  .itemInfo p span:nth-child(1) {
    font-size: font-mMedium;
  }

  .itemInfo p span:nth-child(2) {
    color: color-grey;
    font-size: font-mMedium;
  }

  /* 전시장 찾기 */
  .findStore {
    padding: 6px 0;
    background-color: color-ivory;
  }

  .findStore .store_bg {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: color-white;
  }

  .findStore .storeIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    border-radius: 50%;
    color: color-white;
    background-color: color-light-brown;
    position: relative;
    overflow: hidden;
  }

  .findStore .storeIcon .iconLight {
    width: 200%;
    height: 24px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 50%
    );
    opacity: 50%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .findStore .txts p:first-child {
    font-size: font-mMedium;
    font-weight: 700;
  }

  .findStore .txts p:last-child {
    font-size: font-mMedium;
    color: color-brown;
  }

  .findStore .nextIcon {
    margin-left: auto;
    color: color-grey;
  }

  /* 메뉴 탭 */
  .infoTab {
    display: flex;
    background-color: color-white;
  }

  .infoTab li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: color-grey;
    font-size: font-mMedium;
    font-weight: 700;
    border-bottom: 2px solid line-grey;
    box-sizing: border-box;
  }

  .infoTab li.active {
    color: color-brown;
    border-bottom: 2px solid color-brown;
  }

  /* 메뉴 탭 - 상세정보 */
  .detail {
    padding: 6px 0 45px 0;
    background-color: color-ivory;
  }
  .detailImgBox {
    height: 607px;
    overflow: hidden;
  }

  .detailImgBox.active {
    height: fit-content;
    overflow: visible;
  }

  .detailImgs img {
    display: block;
    width: 100%;
  }

  .moreBtn {
    padding: 20px;
    background-color: color-white;
  }

  .moreBtn button {
    width: 100%;
    height: 40px;
    background-color: color-white;
    font-size: font-btn;
    font-weight: 700;
    border: 1px solid line-grey;
  }

  .moreBtn .downIcon {
    margin-left: 5px;
    color: color-grey;
  }

  /* 메뉴 탭 - 배송/교환/반품 */
  .inquiryContainer {
    background-color: color-ivory;
    padding: 6px 0;
  }

  .inquiry {
    padding: 20px;
    background-color: color-white;
  }

  .inquiry button {
    width: 100%;
    height: 35px;
    background-color: transparent;
    font-size: font-btn;
    font-weight: 700;
    border: 1px solid line-grey;
  }

  .inquiry p {
    margin-top: 10px;
    text-align: center;
    font-size: font-mRegular;
  }

  .delivery {
    padding: 20px 20px 65px 20px;
    font-size: font-mRegular;
  }

  .delivery h3 {
    margin: 0;
    font-size: font-mMedium;
  }

  .delivery > ol {
    margin: 0 0 10px 0;
    padding-left: 15px;
    list-style-type: decimal-leading-zero;
  }

  .delivery > ol > li {
    margin-top: 10px;
  }

  .delivery > ol > ol {
    padding: 0;
    list-style-type: decimal;
  }

  /* 구매, 렌탈상담 신청 버튼 */
  .orderBtns {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .orderBtns button {
    width: 50%;
    height: 45px;
    background-color: color-white;
    font-size: font-btn;
    font-weight: 700;
    border: none;
  }

  .orderBtns .buyBtn {
    color: color-darkBlack;
    border-top: 1px solid line-grey;
  }
  .orderBtns .rentBtn {
    background: gradient-brown;
    color: color-white;
  }

  /* 구매, 렌탈상담 신청 버튼 클릭 */
  .orderBg {
    width: 100vw;
    height: 100vh;
    background-color: color-black;
    opacity: 50%;
    position: fixed;
    top: 0;
  }

  .orderContainer {
    width: 100%;
    padding: 20px 15px;
    box-sizing: border-box;
    background-color: color-ivory;
    position: fixed;
    bottom: 0;
  }

  .orderForm {
    padding: 15px;
    background-color: color-white;
  }

  .orderForm h3 {
    color: color-grey;
    font-size: font-mLarge;
    margin: 0;
  }

  .selectBox {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid line-grey;
    line-height: 24px;
  }

  .selectBox:focus {
    outline: none;
  }

  .selectBox option {
    display: block;
    height: 40px;
  }

  .selectBox option:focus {
    background-color: transparent;
    color: red;
    border: none;
  }

  .result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
  }

  .countBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
  }

  .countBtn button {
    width: 28px;
    height: 28px;
    background-color: transparent;
    color: color-grey;
    border: 1px solid line-grey;
    border-radius: 50%;
  }

  .price {
    font-size: font-mMedium;
  }

  .price span:first-child {
    font-size: font-mExtraLarge;
    font-weight: 700;
  }

  .orderBtn {
    width: 100%;
    height: 45px;
    margin-top: 20px;
    background: gradient-brown;
    color: color-white;
    font-size: font-btn;
    font-weight: 700;
    border: none;
  }
}
