.slider {
  width: 100%;
}

.imgBox {
  display: flex;
  height: 130px;
  overflow: hidden;
  position: relative;
}

.imgBox img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
