.slider {
  width: 100%;
}

.imgBox {
  display: flex;
  height: fit-content;
  min-height: 95px;
  overflow: hidden;
  position: relative;
}

.imgBox img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media all and (min-width: 400px) {
  .imgBox {
    display: flex;
    height: fit-content;
    min-height: 130px;
    overflow: hidden;
    position: relative;
  }
}
